* {
    font-family: 'Shadows Into Light', cursive;
}

body {
    background-image: url(../images/brushed-alum.png);
    background-color: #e04700;
}


.row {
    margin: 0 auto;
    width: 90%;
}



#carouselExampleSlidesOnly {
    width: 100% vw;
}

.carousel-inner .carousel-item img {
    height: 25%;
}

.col-md-8 {
    background-color: whitesmoke;
    overflow: auto;
    width: 75%vw;
}

.col-md-4 {
    width: 20%vw;

}
/* Below pixels 400 images and text boxes decrease in size*/

@media screen and (max-width: 768px) {

.container {
    margin: 0 auto;
    width: 95%;
}

.col-md-8 {
    margin: 5px;
    padding: 5px;
    align-content: center;
    width: 45%;
    }

.col-md-4 {
    margin: 5px;
    padding: 5px;
    align-content: center;
    width: 45%;
    
}
}