* {
    font-family: 'Shadows Into Light', cursive;
}

body {
    background-image: url(../images/brushed-alum.png);
    background-color: #808088;
}

.row {
    margin: 0 auto;
    width: 90%;
    overflow:auto;
}



#carouselExampleSlidesOnly {
    width: 100% vw;
}

.carousel-inner .carousel-item img {
    height: 25%;
}


.col-md-8 {
    background-color: whitesmoke;
    overflow: auto;
    width: 75%vw;
}

.col-md-12 {
    background-color: whitesmoke;
    width: 90%; 
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
}


.col-md {
    text-align: center;
}

.card {
    margin: 0 auto;
}
/*Making footer stay at bottom of page*/
footer {
    bottom:0vw;
}


/* Below pixels 768 images and text will respond to size*/

@media screen and (max-width: 768px) {

.container {
    margin: 0 auto;
    width: 95%;
}

.col-md-12 {
    margin: 5px;
    padding: 5px;
    width: 75%vw;
    margin: 0 auto;
    text-align: center;

}
}

/* Below 580 px images and text will responed to size*/
@media screen and (max-width: 580px) {
    .col-md-12 {
            margin: 5px;
            padding: 5px;
            width: 95%vw;
            margin: 0 auto;
            text-align: center;  
    }
    .col-md-4 {
            margin: 5px;
            padding: 5px;
            width: 95%vw;
            margin: 0 auto;
            text-align: center; 
    }
}